In [4]:
import numpy as np
import pandas as pd

df = pd.read_csv('automobile.csv')
df.head()

,Simbolo_riesgo,Fabricante,tipo_combustible,Aspiración,Num_Puertas,Estilo_chasis,Tracción,Lugar_motor,Base_Llanta,longitud,...,tipo_motor,Num_Cilindros,tamano_Motor,Sistema_Combustible,tasa_Comrpesion,Caballos_poder,Limite_RPM,mpg_ciudad,mpg_viaje,precio
0,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,13495
1,3,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,...,dohc,four,130,mpfi,9.0,111,5000,21,27,16500
2,1,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,...,ohcv,six,152,mpfi,9.0,154,5000,19,26,16500
3,2,audi,gas,std,four,sedan,fwd,front,99.8,176.6,...,ohc,four,109,mpfi,10.0,102,5500,24,30,13950
4,2,audi,gas,std,four,sedan,4wd,front,99.4,176.6,...,ohc,five,136,mpfi,8.0,115,5500,18,22,17450

In [7]:
df['Sistema_Combustible'].unique()

array(['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi'],
      dtype=object)